body {
    background-color: rgba(214, 237, 255, 0.09);
}

.titlediv {
    background-color: #337ab7;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -20px;

}

.titlediv > h1 {
    color: white;
}

#wordSpaces > div {
    border-bottom: solid;
    margin-right: 3px;
    font-size: x-large;

}

.center-letters {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -71px; /* the bottom margin is the negative value of the footer's height */
}

.footer .push {
    height: 71px; /* .push must be the same height as .footer */
}
